{% extends 'base-simple.html' %}

{% block body %}
    {{ super() }}
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Sign Up </h3>
                    </div>
                    
                    <div class="panel-body">
                        <form role="form" action="{{ url_for('account_blueprint.account_signup') }}" method="POST">
                            {{ form.csrf_token }}
                            
                            <fieldset>
                                <div class="form-group">
                                    {{ form.username(class='form-control', placeholder='Username', autofocus=True) }}
                                </div>
                                
                                <div class="form-group">
                                    {{ form.email(class='form-control', placeholder='E-mail') }}
                                </div>
                                
                                <div class="form-group">
                                    {{ form.password(class='form-control', placeholder='Password') }}
                                </div>
                                
                                <div class="form-group">
                                    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
                                </div>
                                
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block"> Sign Up </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
